section{
    display: flex;
    height: 100vh;
    scroll-snap-align: start;
}
.header{
    display: block;
    height: fit-content;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-right: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    background-color: white;
}

#name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Courier, monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Homepage{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}