p{
    animation: FadeIn 5s;
    margin: 1 !important;
}

#intro {    
    font-size: 2.5vw;
}
#sub-intro{
    font-size: 1.5vw;
}
#name{
    font-size: 3.2vw;
    line-height: 100%;
}
#position{
    font-size: 1.6vw;
    line-height: 100%;
}

@keyframes FadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}